In [40]:
import pandas as pd
import numpy as np
titanic=pd.read_csv("/content/Titanic.csv")
df=titanic.dropna()
df
X1=df.drop(columns=["Survived","Name"],axis=1)
y=df["Survived"]
from sklearn.preprocessing import LabelEncoder
le_class=LabelEncoder()
le_gender=LabelEncoder()
X1['PClass1']=le_class.fit_transform(X1['PClass'])
X1['gender']=le_class.fit_transform(X1['Sex'])
X=X1.drop(columns=["PClass","Sex"],axis=1)
X

        Age  PClass1  gender
0     29.00        0       0
1      2.00        0       0
2     30.00        0       1
3     25.00        0       0
4      0.92        0       1
...     ...      ...     ...
1308  27.00        2       1
1309  26.00        2       1
1310  22.00        2       1
1311  24.00        2       1
1312  29.00        2       1

[756 rows x 3 columns]

In [57]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=0)
'''from sklearn import tree
model = tree.DecisionTreeClassifier()
model.fit(X_train,y_train)
accuracy=model.score(X_test,y_test)
print(accuracy*100)
model.predict([[0,71,1]])
'''
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train,y_train)
prediction=lr.predict(X_test)
lr.score(X_test,y_test)

0.7883597883597884