In [15]:
!pip install word2number

Requirement already satisfied: word2number in /usr/local/lib/python3.7/dist-packages (1.1)

In [24]:
import pandas as pd
df1 = pd.read_csv('/content/hiring.csv')
df=df1.dropna()
df.experience=df.experience.apply(w2n.word_to_num)
df

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
2           5                    6.0                           7      60000
3           2                   10.0                          10      65000
4           7                    9.0                           6      70000
5           3                    7.0                          10      62000
7          11                    7.0                           8      80000

In [27]:
from sklearn import linear_model
lr = linear_model.LinearRegression()
lr.fit(df[['experience','test_score(out of 10)','interview_score(out of 10)']],df['salary($)'])
print(lr.predict([[2,9,6]]))

[56365.37746374]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"