In [5]:
import pandas as pd
from sklearn.datasets import load_wine
wine = load_wine()
dir(wine)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [12]:
wine.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2])

In [16]:
df = pd.DataFrame(wine.data,columns=wine.feature_names)
df['target']=wine.target
df

     alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  target
0      14.23        1.71  2.43  ...                          3.92   1065.0       0
1      13.20        1.78  2.14  ...                          3.40   1050.0       0
2      13.16        2.36  2.67  ...                          3.17   1185.0       0
3      14.37        1.95  2.50  ...                          3.45   1480.0       0
4      13.24        2.59  2.87  ...                          2.93    735.0       0
..       ...         ...   ...  ...                           ...      ...     ...
173    13.71        5.65  2.45  ...                          1.74    740.0       2
174    13.40        3.91  2.48  ...                          1.56    750.0       2
175    13.27        4.28  2.26  ...                          1.56    835.0       2
176    13.17        2.59  2.37  ...                          1.62    840.0       2
177    14.13        4.10  2.74  ...                          1.60    560.0       2

[178 rows x 14 columns]

In [19]:
from sklearn.model_selection import train_test_split
x = df.drop(columns=['target'],axis=1)
y = df['target']
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [29]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.9722222222222222

In [31]:
y_test[:10]

79     1
66     1
168    2
28     0
13     0
143    2
24     0
156    2
55     0
119    1
Name: target, dtype: int64

In [32]:
model.predict_proba(x_test[:10])

array([[9.20154109e-07, 9.99999080e-01, 2.29477739e-22],
       [2.15934017e-01, 7.84065983e-01, 1.34957901e-32],
       [1.58358245e-18, 4.26060208e-15, 1.00000000e+00],
       [9.99978392e-01, 2.16075837e-05, 1.13130022e-33],
       [9.99999995e-01, 4.58937222e-09, 2.12676404e-45],
       [9.89580388e-17, 1.53595780e-04, 9.99846404e-01],
       [9.89084305e-01, 1.09156948e-02, 7.41578085e-29],
       [3.43196120e-23, 1.16975591e-17, 1.00000000e+00],
       [9.99999998e-01, 2.06364881e-09, 2.67906334e-28],
       [2.51880941e-11, 1.00000000e+00, 2.15990513e-11]])